* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* * {
  border: 1px solid red;
} */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}



input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inheri;
}

html {
  overflow-y: auto;
  scrollbar-gutter: stable;

}

body {
  width: 100%;
  background: var(--bg-color)
}

:root {
  --primary-color: #cb3cff;
  --secondary-color: #8951FF;
  --text-color: #aeb9e1;
  --title-color: #fff;
  --bg-color: #080F25;
  --accent-color: #0A1330;
  --block-color: #0b1739;
  --btn-gradient: linear-gradient(135.00deg, rgb(203, 60, 255) 19.855%, rgb(127, 37, 251) 68.339%);
}


@font-face {
  font-family: 'Button';
  src: url('../assets/fonts/Button/Button.ttf') format('truetype'),
    url('../assets/fonts/Button/Button.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  /* font-display: swap; */
}

@font-face {
  font-family: 'PlanetiumX';
  src: url('~@/assets/fonts/PlanetiumX/Planetium-XRegularDemo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'lavash';
  src: url('../assets/fonts/Lavash/lavash.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#app {
  width: 100%;
  height: 100%;
}

.content__wrapper {
  padding: 20px;
}